<footer>
    <div class="foot-wrap container-flex text-center">
        <div class="row">
            <div class="para1 col-md-5">
                <p>{{title}}</p>
            </div>

            <div class="down col-md-5">
                <p><b>Контакты:</b></p>
                <ul class="brand ">
                    <li>+375-29-724-67-18</li>
                    <li>Email: vitis52@mail.ru</li>
                    <li>Skype: isaev-ski</li>
                </ul>

            </div>
            <div class="down col-md-2">
                <ul class="brand "><b>Разработка и дизайн:</b>
                    <li> ИП Исаевский Д.В.</li>
                    <li>+375-29-751-55-51</li>
                    <li>Skype: dmitry-dv<li>
                    <li>Email: isaevski.dv@gmail.com<li>
                </ul>

            </div>
        </div>
    </div>

</footer>
