<br>
<div class = "container-fluid">
    <div class = "row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                  <h3 class="card-header">Основание клуба</h3>
                  <div class="card-block">
                    <!-- <h4 class="card-title">Special title treatment</h4> -->
                    <p class="card-text">Клуб 'Кола-БОК' основан в 2008 году</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                  <h3 class="card-header">Участники</h3>
                  <div class="card-block">
                    <!-- <h4 class="card-title">Special title treatment</h4> -->
                    <p class="card-text">Все желающие</p>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                  <h3 class="card-header">Деятельность</h3>
                  <div class="card-block">
                    <!-- <h4 class="card-title">Special title treatment</h4> -->
                    <p class="card-text">Наши основные цели - активный туризм, организация спортивных мероприятий</p>
                  </div>
                </div>
            </div>
    </div>
</div>
<br>
<br>
